*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#BB8FCE ;
}
.Funciones{
    width: 500px;
    background-color: #CACFD2;
    padding: 30px;
    margin: auto;
    margin-top: 30px;
    border-radius: 5px;
    color:#BB8FCE;
}
img{
    display:block;
    margin:auto;
    width: 80;
    height: 80;
}
h4{
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}
input{
    width: 100%;
    background-color:  #CACFD2;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 18px;
    border: 1px solid #BB8FCE ;
}
input[type=submit]{
    width: 100%;
    background-color: #BB8FCE;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 18px;
    border: none ;
    color: white;
}
